fire==0.7.0
flwr==1.14.0
matplotlib==3.9.2
numpy==1.26.4
pandas==2.2.3
pyhocon==0.3.61
pytz==2024.2
scikit_learn==1.6.1
tensorflow==2.16.1
termcolor==2.4.0
tqdm==4.67.1
umap==0.1.1
zat==0.4.7
tensorflow-addons~=0.18.0
